*{
    margin: 0;
    padding: 0;
}

#blog{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.para{
    text-align: center;
    color: darkcyan;
    padding: 10px 300px;
}

div{
    background-image: url('image/spider.webp');
    background-position: center;
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-origin: border-box; */
    background-color: antiquewhite;
    margin-bottom: 10px;
    padding: 10px;
   
}

#div1{
    background-image: none;
    text-align: center;
    display: inline-block;
}
#div2{
    background-image: none;
    text-align: center;
    display: inline-block;
}
#div3{
    background-image: none;
    text-align: center;
    display: inline-block;
}

.items{
    font-size: larger;
    margin: 10px;
    font-weight: 800;
    text-decoration: underline;
    color: brown;
    text-shadow: 5px 5px 6px;
}

.img{
    height: 400px;
    width: 400px;
    border-radius: 40px;
    box-shadow: 10px 10px 15px yellowgreen;
}

button{
    font-size: 20px;
    font-weight: 700;
    background-color: blue;

    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}